form{
  border: 5px solid #5e8487;
  background-color: #a8c0c2;
  margin: 0 20%
}

h1{

  text-align: center;
  color: #F64C72;
  font-size: 350%;

}

h4{
  text-align: center;
  color: #F64C72;
  font-size: 150%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
}

.inForm{
  padding:0 16px;
  align: center
}

input[type=button]{
  margin: 0 10%;
  padding: 5px 20px;
  width: 80%;
  background-color: #5e8487;
}

p{
  text-align: center;
  color: white;
}

body{
  background-image: url('../img/Gradient-blue-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

label{
  color: white;
}
